<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>
    <mat-toolbar color="primary">
      <span>COMUNICACIÓN DE DATOS II
        <div id="contenedor-estado" *ngIf="estado">CIFRADO CÉSAR CON EL ALFABETO INGLÉS</div>
      </span>
    </mat-toolbar>
  </p>
  <div class="wrapper">
    <br><br>
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">
    <p class="footer_parrafo">
      <strong>Copyr &copy; 2020 <h1>César Augusto Rodríguez Téllez - Diego Anderson Cobos Alarcón</h1>.</strong> Todos Los Derechos Reservados.
    </p>
  </footer>
</body>
</html>