<div class="contenedor-opciones">
    <div class="contenedor-opciones_sub" routerLink="/cifrado">
        <mat-card class="contenedor-opciones_sub_carta">
            <mat-icon class="contenedor-opciones_sub_carta_icono" id="decifrado">format_clear</mat-icon>
        </mat-card>
    </div>
    <div class="contenedor-opciones_sub" id="contenedor-cifrado">
        <mat-card class="contenedor-opciones_sub_carta">
            <mat-icon class="contenedor-opciones_sub_carta_icono" id="cifrado">title</mat-icon>
        </mat-card>
    </div>
</div>