<div class="contenedor-principal">
  <div class="contenedor-principal_menu">
    <div class="btn-menu">
      <mat-icon mat-button [matMenuTriggerFor]="menu" id="icono-alfabeto">sort_by_alpha</mat-icon>
    </div>
    <mat-menu #menu="matMenu">
      <mat-card class="mat-card">
        <p class="mat-card_alfabeto" *ngFor="let letra of alfabeto">{{letra}}</p>
      </mat-card>
    </mat-menu>
  </div>
  <div class="contenedor-principal_cifrado">
    <app-cifrado [abc]="alfabeto"></app-cifrado>
  </div>
</div>