.contenedor-principal{
    width: 100%;
    height: 80%;
}
.contenedor-principal_menu{
    width: 5%;
    height: 100%;
    float: right;
    padding-right: 1em;
}
.contenedor-principal_cifrado{
    width: 95%;
    height: 100%;
}
.btn-menu{
    background-color: transparent;
    border: none;
    float: right;
    margin: 0 auto;
}
#icono-alfabeto{
    background-color: #00695c;
    color: #fff;
    font-size: 3em;
    border-radius: 50%;
    padding: 0.2em;
    width: auto;
    height: auto;
    transition: background 0.5s, color 0.5s, box-shadow 0.5s;
}
#icono-alfabeto:hover{
    background-color: #fff;
    color: #00695c;
    box-shadow: 0 0 12px #00695c;
    cursor: pointer;
}
.iconoD{
    background-color: #00695c;
    color: #fff;
    font-size: 3em;
    border-radius: 50%;
    padding: 0.2em;
    width: auto;
    height: auto;
    margin-top: 0.2em;
    float: right;
    transition: background 0.5s, color 0.5s, box-shadow 0.5s;
}.iconoD:hover{
    background-color: #fff;
    color: #00695c;
    box-shadow: 0 0 12px #00695c;
    cursor: pointer;
}
.mat-card{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.mat-card_alfabeto{
    display: inline-flex;
    font-size: 1.5em;
    margin: 0.5em;
    color: #00695c;
    font-weight: 500;
}